body {
  margin: 0;
}

.main-wrapper {
  width: 100%;
  height: auto;
}

/* first section, header, nav */
.top-section-wrapper {
  height: 200px;
  width: 100%;
  background: #f6fafd;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#f6fafd));
  background: linear-gradient(0deg, white 0%, #f6fafd 100%);
}

.top-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;
}

.top-section__logo {
  height: 35px;
  width: 49px;
}

.top-section__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.top-section__navigation {
  text-align: left;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.top-section__navigation-item {
  display: inline;
  margin: 0 30px;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #212353;
}

.top-section__navigation-item a:link {
  color: #212353;
  text-decoration: none;
}

.top-section__navigation-item a:hover {
  color: #9c69e2;
  text-decoration: none;
}

.top-section__navigation-item a:visited {
  color: #212353;
  text-decoration: none;
}

.navigation-last__item {
  margin-right: 0;
}

.white-button {
  color: #212353;
  font-size: 15px;
  width: 200px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 0px 40px 0px 40px;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(131, 131, 131, 0.2), 0 3px 5px 0 rgba(97, 97, 97, 0.19);
          box-shadow: 0 2px 4px 0 rgba(131, 131, 131, 0.2), 0 3px 5px 0 rgba(97, 97, 97, 0.19);
}

.purple-button {
  color: #ffffff;
  font-size: 15px;
  width: 180px;
  border-radius: 30px;
  background-color: #9c69e2;
  padding: 17px 40px;
  border: none;
}

/* second section */
.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.second-section__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.second-section__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.second-section__heading {
  color: #212353;
  font-family: Helvetica, sans-serif;
  font-size: 58px;
  margin: 0;
}

.second-section__paragraph-text {
  color: #212353;
  font-family: "Nunito", sans-serif;
  margin-bottom: 0;
  line-height: 1.5;
  margin-bottom: 20px;
}

.second-section__button {
  margin-top: 20px;
}

/* third section pink square */
.third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
  background-color: rgba(240, 99, 184, 0.16);
  border-radius: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.third-section__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.third-section__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Media queries */
@media all and (max-width: 1024px) {
  .main-wrapper {
    max-width: 944px;
    width: 100%;
    height: auto;
    padding-right: 80px;
  }
  .second-section__heading {
    font-size: 32px;
  }
  .responsive-img {
    margin-top: 30px;
    width: 85%;
    height: auto;
    min-width: 200px;
  }
  .white-button {
    color: #212353;
    font-size: 12px;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    padding: 0 30px;
  }
}

@media all and (max-width: 600px) {
  .second-section__heading {
    font-size: 24px;
  }
  .second-section__paragraph-text {
    font-size: 12px;
  }
  .second-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 30px;
    margin: 50px auto;
  }
  .second-section__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .third-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 30px;
    margin: 50px auto;
  }
  .responsive-img {
    display: none;
  }
  .white-button {
    color: #212353;
    font-size: 12px;
    width: 200px;
    border-radius: 30px;
    padding: 0px 40px;
  }
  .purple-button {
    font-size: 12px;
    width: 140px;
    border-radius: 30px;
    padding: 10px 32px;
    margin: auto;
  }
}

@media all and (max-width: 414px) {
  body {
    width: 100%;
    margin: 0;
  }
  .main-wrapper {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .top-section-wrapper {
    height: 130px;
    width: 100%;
    margin: auto;
    padding: 0 30px;
    background: #f6fafd;
    background: -webkit-gradient(linear, left bottom, left top, from(white), to(#f6fafd));
    background: linear-gradient(0deg, white 0%, #f6fafd 100%);
  }
  .second-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding-right: 50px;
    margin-bottom: 20px;
    margin-left: 55px;
  }
  .third-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-left: 53px;
    margin-top: 10px;
  }
  .purple-button {
    font-size: 12px;
    width: 140px;
    border-radius: 30px;
    padding: 10px 32px;
    margin: auto;
    position: relative;
    top: 5px;
    left: 20px;
  }
}
/*# sourceMappingURL=index.css.map */